.cart_container {
  font-family: "Hanalei Fill", cursive;
}

.popup-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  top: 0;
  left: 0;
  padding: 45px;
  width: 225%;
  height: 100%;
  box-shadow: 0 2px 4px rgba(199, 42, 42, 0.2);
  background-color: rgba(250, 243, 243, 0.2);
}

h3 {
  text-align: center;
}

.popoup > form > label {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.quantity_btn_container {
  display: flex;

  align-items: center;
}

.increment_buton,
.decrement_buton {
  margin: 0rem 0.3rem -0.7rem 0.1rem;
  padding: 10px 10px 10px 10px;
  float: inline-start;
  justify-content: first baseline;
  font-size: 16px;
  border: 1px solid #ccc;
  background-color: #f9f9f9;
  cursor: pointer;
  outline: none;

  /* padding: 2rem 2rem 2rem 2rem; */
}

.increment_buton:hover,
.decrement_buton:hover {
  background-color: #c9d51f;
  color: black;
}

input[type="text"] {
  width: 100%;
  padding: 5px;
  margin-bottom: 10px;
}

.button {
  display: flex;
  float: left;
  padding: 2rem 2rem 0rem 0rem;
}

.button {
  margin-top: 20px;
}
